<style>
   body,
   html {
     width:  100%;
     height: 100%;
   }
 
   .geolonia {
     width:  100%;
     height: 100%;
   }
 </style>
 
 <div class="geolonia" data-geojson="/spots.json"></div>
 <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>